{{this.updatePoseOrder}}<div class="scene-pose-order">
  <div class="pose-order-label">Pose Order:</div> 
  <div class="pose-order-type">
{{#if (eq this.poseOrderType 'normal') }}
<TooltipIcon @position="left" @message="Regular Order" @icon="fa-duotone fa-solid fa-user-hoodie" />
{{else}}
<TooltipIcon @position="left" @message="3-Per Order" @icon="fa-duotone fa-solid fa-users" />
{{/if}}
</div>

  <div class="pose-order-list">
{{#each this.poseOrder as |po|}}
{{#if (eq po.name this.playerName)}}
  <span class="your-pose-order">{{po.name}}</span>
{{else}}
  {{po.name}}
{{/if}}
<span class="hint">{{po.timeString}}</span>
{{/each}}
  </div>
</div>
